/*========== Start Default Spacing  ==========*/
@media screen and (min-width: 992px) {
  .yoo-height-b0 {
    height: 0px
  }

  .yoo-height-b5 {
    height: 5px
  }

  .yoo-height-b10 {
    height: 10px
  }

  .yoo-height-b15 {
    height: 15px
  }

  .yoo-height-b20 {
    height: 20px
  }

  .yoo-height-b25 {
    height: 25px
  }

  .yoo-height-b30 {
    height: 30px
  }

  .yoo-height-b35 {
    height: 35px
  }

  .yoo-height-b40 {
    height: 40px
  }

  .yoo-height-b45 {
    height: 45px
  }

  .yoo-height-b50 {
    height: 50px
  }

  .yoo-height-b55 {
    height: 55px
  }

  .yoo-height-b60 {
    height: 60px
  }

  .yoo-height-b65 {
    height: 65px
  }

  .yoo-height-b70 {
    height: 70px
  }

  .yoo-height-b75 {
    height: 75px
  }

  .yoo-height-b80 {
    height: 80px
  }

  .yoo-height-b85 {
    height: 85px
  }

  .yoo-height-b90 {
    height: 90px
  }

  .yoo-height-b95 {
    height: 95px
  }

  .yoo-height-b100 {
    height: 100px
  }

  .yoo-height-b105 {
    height: 105px
  }

  .yoo-height-b110 {
    height: 110px
  }

  .yoo-height-b115 {
    height: 115px
  }

  .yoo-height-b120 {
    height: 120px
  }

  .yoo-height-b125 {
    height: 125px
  }

  .yoo-height-b130 {
    height: 130px
  }

  .yoo-height-b135 {
    height: 135px
  }

  .yoo-height-b140 {
    height: 140px
  }

  .yoo-height-b145 {
    height: 145px
  }

  .yoo-height-b150 {
    height: 150px
  }

  .yoo-height-b155 {
    height: 155px
  }

  .yoo-height-b160 {
    height: 160px
  }

  .yoo-height-b165 {
    height: 165px
  }

  .yoo-height-b170 {
    height: 170px
  }

  .yoo-height-b175 {
    height: 175px
  }

  .yoo-height-b180 {
    height: 180px
  }

  .yoo-height-b185 {
    height: 185px
  }

  .yoo-height-b190 {
    height: 190px
  }

  .yoo-height-b195 {
    height: 195px
  }

  .yoo-height-b200 {
    height: 200px
  }

  .yoo-height-b205 {
    height: 205px
  }

  .yoo-height-b210 {
    height: 210px
  }
}

@media screen and (max-width: 991px) {
  .yoo-height-lg-b0 {
    height: 0px
  }

  .yoo-height-lg-b5 {
    height: 5px
  }

  .yoo-height-lg-b10 {
    height: 10px
  }

  .yoo-height-lg-b15 {
    height: 15px
  }

  .yoo-height-lg-b20 {
    height: 20px
  }

  .yoo-height-lg-b25 {
    height: 25px
  }

  .yoo-height-lg-b30 {
    height: 30px
  }

  .yoo-height-lg-b35 {
    height: 35px
  }

  .yoo-height-lg-b40 {
    height: 40px
  }

  .yoo-height-lg-b45 {
    height: 45px
  }

  .yoo-height-lg-b50 {
    height: 50px
  }

  .yoo-height-lg-b55 {
    height: 55px
  }

  .yoo-height-lg-b60 {
    height: 60px
  }

  .yoo-height-lg-b65 {
    height: 65px
  }

  .yoo-height-lg-b70 {
    height: 70px
  }

  .yoo-height-lg-b75 {
    height: 75px
  }

  .yoo-height-lg-b80 {
    height: 80px
  }

  .yoo-height-lg-b85 {
    height: 85px
  }

  .yoo-height-lg-b90 {
    height: 90px
  }

  .yoo-height-lg-b95 {
    height: 95px
  }

  .yoo-height-lg-b100 {
    height: 100px
  }

  .yoo-height-lg-b105 {
    height: 105px
  }

  .yoo-height-lg-b110 {
    height: 110px
  }

  .yoo-height-lg-b115 {
    height: 115px
  }

  .yoo-height-lg-b120 {
    height: 120px
  }

  .yoo-height-lg-b125 {
    height: 125px
  }

  .yoo-height-lg-b130 {
    height: 130px
  }

  .yoo-height-lg-b135 {
    height: 135px
  }

  .yoo-height-lg-b140 {
    height: 140px
  }

  .yoo-height-lg-b145 {
    height: 145px
  }

  .yoo-height-lg-b150 {
    height: 150px
  }

  .yoo-height-lg-b155 {
    height: 155px
  }

  .yoo-height-lg-b160 {
    height: 160px
  }

  .yoo-height-lg-b165 {
    height: 165px
  }

  .yoo-height-lg-b170 {
    height: 170px
  }

  .yoo-height-lg-b175 {
    height: 175px
  }

  .yoo-height-lg-b180 {
    height: 180px
  }

  .yoo-height-lg-b185 {
    height: 185px
  }

  .yoo-height-lg-b190 {
    height: 190px
  }

  .yoo-height-lg-b195 {
    height: 195px
  }

  .yoo-height-lg-b200 {
    height: 200px
  }

  .yoo-height-lg-b205 {
    height: 205px
  }

  .yoo-height-lg-b210 {
    height: 210px
  }
}
/*========== End Default Spacing  ==========*/
