
    <div class="yoo-footer yoo-style1">
        <div class="container-fluid">
          <div class="yoo-footer-content">
            <div class="yoo-copyride">
                &copy; <a target="_blank" rel="noopener noreferrer" href="https://yookits.com/">YooKits</a> 
                - coded by <a target="_blank" rel="noopener noreferrer" href="https://appseed.us/">AppSeed</a>.
            </div>
            <ul class="yoo-footer-nav yoo-mp0 yoo-flex">
                <li>
                    <a target="_blank" rel="noopener noreferrer" 
                       href="https://github.com/app-generator/theme-jinja2-admint">Jinja2 Theme AdminT</a>
                </li>
            </ul>
          </div>
        </div>
    </div>
  