
  <header class="yoo-header yoo-style1 yoo-sticky-menu">
    <div class="yoo-main-header">
      <div class="yoo-main-header-in">
        <div class="yoo-main-header-left">
          <a href="/" class="yoo-logo-link yoo-light-logo">
              <img src="/static/assets/img/logo-light.svg" alt="logo-light" /></a>
          <!-- For Site Title -->
          <!-- <span class="yoo-site-title">
            <a href="index.html">Logo</a>
          </span> -->
        </div>
        <div class="yoo-main-header-right">
          <div class="yoo-nav-wrap yoo-fade-up">
            <div class="yoo-nav-toggle">
              <i class="material-icons-outlined">more_vert</i>
            </div>
            <nav class="yoo-nav yoo-desktop-nav">
              <ul class="yoo-nav-list">
                <li>
                  <a href="#"><i class="material-icons-outlined">home</i> Home</a>
                </li>
                <li>
                  <a href="#"><i class="material-icons-outlined">subscriptions</i> Features</a>
                </li>
                <li>
                  <a href="#"><i class="material-icons-outlined">folder</i> Apps</a>
                </li>
              </ul>
            </nav>
            <!-- .yoo-nav -->
          </div>
          <!-- .yoo-nav-wrap -->
          <ul class="yoo-ex-nav yoo-style1 yoo-flex yoo-mp0">
            <li>
              <div class="yoo-toggle-body yoo-search-area yoo-style1">
                <span class="yoo-toggle-btn yoo-ex-nav-btn yoo-search-btn">
                  <i class="material-icons-outlined">search</i>
                </span>
                <div class="yoo-dropdown yoo-search-dropdown">
                  <form action="#" class="yoo-search yoo-style1">
                    <input type="text" placeholder="Search..." class="yoo-search-input">
                    <div class="yoo-toggle-cross">
                      <i class="material-icons-outlined">close</i>
                    </div>
                    <button class="yoo-search-submit"><i class="material-icons-outlined">search</i></button>
                  </form>
                </div>
              </div>
            </li>
            <li>
              <div class="yoo-toggle-body yoo-message-area yoo-style1">
                <span class="yoo-toggle-btn yoo-ex-nav-btn yoo-message-btn">
                  <i class="material-icons-outlined">email</i>
                  <span class="yoo-ex-nav-label">9</span>
                </span>
                <div class="yoo-dropdown yoo-notify-dropdown">
                  <h2 class="yoo-nofify-title">
                    <span class="yoo-nofify-title-left">Messages</span>
                    <span class="yoo-nofify-title-right"><a href="#">Mark All as Read</a></span>
                  </h2>
                  <ul class="yoo-nofify-list yoo-style1 yoo-mp0">
                    <li>
                      <a href="#">
                        <div class="yoo-nofify-thumb">
                          <img src="/static/assets/img/msg/msg1.png" alt="msg1">
                        </div>
                        <div class="yoo-nofify-text">
                          <h3 class="yoo-nofify-text-head">
                            Bob Dylan
                            <span class="yoo-online-status yoo-live"></span>
                          </h3>
                          <div class="yoo-msg">
                            Contrary to popular belief, Lorem Ipsum is...
                          </div>
                          <span class="yoo-notify-time">12:23</span>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="active">
                        <div class="yoo-nofify-thumb">
                          <img src="/static/assets/img/msg/msg2.png" alt="">
                        </div>
                        <div class="yoo-nofify-text">
                          <h3 class="yoo-nofify-text-head">
                            David Gilmour
                            <span class="yoo-online-status"></span>
                          </h3>
                          <div class="yoo-msg">
                            Contrary to popular belief, Lorem Ipsum is...
                          </div>
                          <span class="yoo-notify-time">12:23</span>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="yoo-nofify-thumb">
                          <img src="/static/assets/img/msg/msg3.png" alt="">
                        </div>
                        <div class="yoo-nofify-text">
                          <h3 class="yoo-nofify-text-head">
                            Jeff Beck
                            <span class="yoo-online-status yoo-live"></span>
                          </h3>
                          <div class="yoo-msg">
                            Contrary to popular belief, Lorem Ipsum is...
                          </div>
                          <span class="yoo-notify-time">12:23</span>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="yoo-nofify-thumb">
                          <img src="/static/assets/img/msg/msg4.png" alt="">
                        </div>
                        <div class="yoo-nofify-text">
                          <h3 class="yoo-nofify-text-head">
                            Guthrie Govan
                            <span class="yoo-online-status"></span>
                          </h3>
                          <div class="yoo-msg">
                            Contrary to popular belief, Lorem Ipsum is...
                          </div>
                          <span class="yoo-notify-time">12:23</span>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="yoo-nofify-thumb">
                          <img src="/static/assets/img/msg/msg5.png" alt="">
                        </div>
                        <div class="yoo-nofify-text">
                          <h3 class="yoo-nofify-text-head">
                            Eric Johnson
                            <span class="yoo-online-status"></span>
                          </h3>
                          <div class="yoo-msg">
                            Contrary to popular belief, Lorem Ipsum is...
                          </div>
                          <span class="yoo-notify-time">12:23</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                  <a href="#" class="yoo-btn yoo-style2">SEE ALL <i class="material-icons-outlined">navigate_next</i></a>
                </div>
              </div>
            </li>
            <li>
              <div class="yoo-toggle-body yoo-notice-area yoo-style1">
                <span class="yoo-toggle-btn yoo-ex-nav-btn yoo-notice-btn">
                  <i class="material-icons-outlined">notifications</i>
                  <span class="yoo-ex-nav-label">3</span>
                </span>
                <div class="yoo-dropdown yoo-notify-dropdown">
                  <h2 class="yoo-nofify-title">
                    <span class="yoo-nofify-title-left">Notifications</span>
                  </h2>
                  <ul class="yoo-nofify-list yoo-style1 yoo-mp0">
                    <li>
                      <a href="#" class="yoo-nofify-list-in">
                        <div class="yoo-nofify-icon yoo-icon-color2">
                          <i class="material-icons-outlined">supervisor_account</i>
                        </div>
                        <div class="yoo-nofify-text">
                          <h3 class="yoo-nofify-text-head">Invite your friends to dashboard.</h3>
                          <span class="yoo-notify-time">5 hour ago</span>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="yoo-nofify-list-in">
                        <div class="yoo-nofify-icon yoo-icon-color4">
                          <i class="material-icons-outlined">calendar_today</i>
                        </div>
                        <div class="yoo-nofify-text">
                          <h3 class="yoo-nofify-text-head">3 Tasks pending this month.</h3>
                          <span class="yoo-notify-time">6 hour ago</span>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="yoo-nofify-list-in">
                        <div class="yoo-nofify-icon yoo-icon-color3">
                          <i class="material-icons-outlined">favorite_border</i>
                        </div>
                        <div class="yoo-nofify-text">
                          <h3 class="yoo-nofify-text-head">7 People loved your activity.</h3>
                          <span class="yoo-notify-time">9 hour ago</span>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="yoo-nofify-list-in">
                        <div class="yoo-nofify-icon yoo-icon-color2">
                          <i class="material-icons-outlined">chat_bubble_outline</i>
                        </div>
                        <div class="yoo-nofify-text">
                          <h3 class="yoo-nofify-text-head">John commented on activity.</h3>
                          <span class="yoo-notify-time">1 day ago</span>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="yoo-nofify-list-in">
                        <div class="yoo-nofify-icon yoo-icon-color1">
                          <img src="/static/assets/img/msg/msg1.png" alt="msg1" />
                        </div>
                        <div class="yoo-nofify-text">
                          <h3 class="yoo-nofify-text-head">Click your picture or add an account.</h3>
                          <span class="yoo-notify-time">2 days ago</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                  <a href="#" class="yoo-btn yoo-style2">SEE ALL <i class="material-icons-outlined">navigate_next</i></a>
                </div>
              </div>
            </li>
            <li>
              <div class="yoo-toggle-body yoo-app-area yoo-style1">
                <span class="yoo-toggle-btn yoo-ex-nav-btn yoo-sidebar-btn">
                  <i class="material-icons-outlined">apps</i>
                </span>
                <div class="yoo-dropdown yoo-notify-dropdown">
                  <h2 class="yoo-nofify-title">Quick Navigation</h2>
                  <ul class="yoo-nofify-list yoo-style2 yoo-mp0">
                    <li>
                      <a href="#">
                        <div class="yoo-nofify-icon yoo-icon-color1">
                          <i class="material-icons-outlined">bar_chart</i>
                        </div>
                        <div class="yoo-nofify-text">
                          <h3>Chart</h3>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="yoo-nofify-icon yoo-icon-color2">
                          <i class="material-icons-outlined">bubble_chart</i>
                        </div>
                        <div class="yoo-nofify-text">
                          <h3>Big Data</h3>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="yoo-nofify-icon yoo-icon-color3">
                          <i class="material-icons-outlined">folder_open</i>
                        </div>
                        <div class="yoo-nofify-text">
                          <h3>Storage</h3>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="yoo-nofify-icon yoo-icon-color4">
                          <i class="material-icons-outlined">security</i>
                        </div>
                        <div class="yoo-nofify-text">
                          <h3>Security</h3>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="yoo-nofify-icon yoo-icon-color3">
                          <i class="material-icons-outlined">layers</i>
                        </div>
                        <div class="yoo-nofify-text">
                          <h3>Themes</h3>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="yoo-nofify-icon yoo-icon-color2">
                          <i class="material-icons-outlined">attach_file</i>
                        </div>
                        <div class="yoo-nofify-text">
                          <h3>Upload</h3>
                        </div>
                      </a>
                    </li>
                  </ul>
                  <hr>
                  <a href="#" class="yoo-btn yoo-style2">SEE ALL <i class="material-icons-outlined">navigate_next</i></a>
                </div>
              </div>
            </li>
            <li>
              <div class="yoo-toggle-body yoo-profile-nav yoo-style1">
                <div class="yoo-toggle-btn yoo-profile-nav-btn">
                  <div class="yoo-profile-nav-text">
                    <span>Welcome,</span>
                    <h4>Thom Yorke</h4>
                  </div>
                  <div class="yoo-profile-nav-img">
                    <img src="/static/assets/img/profile-pic.png" alt="profile">
                  </div>
                </div>
                <ul class="yoo-dropdown yoo-style1">
                  <li>
                    <a href="#"><i class="material-icons-outlined">account_circle</i>My Profile</a>
                  </li>
                  <li>
                    <a href="#"><i class="material-icons-outlined">settings</i>Settings</a>
                  </li>
                  <li>
                    <a href="#"><i class="material-icons-outlined">videocam</i>Upload</a>
                  </li>
                  <li>
                    <a href="#"><i class="material-icons-outlined">help</i>Help</a>
                  </li>
                  <li class="yoo-dropdown-cta">
                      <a href="/sign-in.html"><i class="material-icons-outlined">directions_run</i>Sign Out</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header><!-- .yoo-header -->
