{% extends "layouts/base.html" %}

{% block title %} UI Accordion {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="yoo-content yoo-style1">
    
    <div class="yoo-padd-lr-30 yoo-uikits-heading">
      <h2 class="yoo-uikits-title">Accordion</h2>
      <ul class="yoo-breadcamb yoo-style1 yoo-mp0">
        <li><a href="#">Home</a></li>
        <li><a href="#">UI Kits</a></li>
        <li>Accordion</li>
      </ul>
    </div>

    <div class="yoo-height-b30 yoo-height-lg-b30"></div>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Accordion Style 1</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <div class="yoo-accordian-wrap yoo-style1">
                  <div class="yoo-accordian yoo-active">
                    <div class="yoo-accordian-title">
                      Are updates included for free or it comes down to money?
                      <span class="yoo-accordian-toggle"></span>
                    </div>
                    <div class="yoo-accordian-body">
                      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                      <p>Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                  </div><!-- .yoo-accordian -->
                  <div class="yoo-accordian">
                    <div class="yoo-accordian-title">
                      Are updates included for free or it comes down to money?
                      <span class="yoo-accordian-toggle"></span>
                    </div>
                    <div class="yoo-accordian-body">
                      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                      <p>Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                  </div><!-- .yoo-accordian -->
                  <div class="yoo-accordian">
                    <div class="yoo-accordian-title">
                      Are updates included for free or it comes down to money?
                      <span class="yoo-accordian-toggle"></span>
                    </div>
                    <div class="yoo-accordian-body">
                      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                      <p>Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                  </div><!-- .yoo-accordian -->
                </div><!-- .yoo-accordian-wrap -->
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Accordion Style 2</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <div class="yoo-accordian-wrap yoo-style1">
                  <div class="yoo-accordian yoo-active">
                    <div class="yoo-accordian-title">
                      <i class="material-icons-outlined">check_circle</i>Are updates included for free or it comes down to money?
                      <span class="yoo-accordian-toggle yoo-style1"><i class="material-icons">expand_more</i></span>
                    </div>
                    <div class="yoo-accordian-body">
                      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                      <p>Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                  </div><!-- .yoo-accordian -->
                  <div class="yoo-accordian">
                    <div class="yoo-accordian-title">
                      <i class="material-icons-outlined">folder</i>Are updates included for free or it comes down to money?
                      <span class="yoo-accordian-toggle yoo-style1"><i class="material-icons">expand_more</i></span>
                    </div>
                    <div class="yoo-accordian-body">
                      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                      <p>Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                  </div><!-- .yoo-accordian -->
                  <div class="yoo-accordian">
                    <div class="yoo-accordian-title">
                      <i class="material-icons-outlined">archive</i>Are updates included for free or it comes down to money?
                      <span class="yoo-accordian-toggle yoo-style1"><i class="material-icons">expand_more</i></span>
                    </div>
                    <div class="yoo-accordian-body">
                      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                      <p>Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                  </div><!-- .yoo-accordian -->
                </div><!-- .yoo-accordian-wrap -->
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Accordion Style 4</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <div class="yoo-accordian-wrap yoo-style1">
                  <div class="yoo-accordian">
                    <div class="yoo-accordian-title">
                      <i class="material-icons-outlined">check_circle</i>Are updates included for free or it comes down to money?
                      <span class="yoo-accordian-toggle yoo-style1"><i class="material-icons">expand_more</i></span>
                    </div>
                    <div class="yoo-accordian-body">
                      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                      <p>Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                  </div><!-- .yoo-accordian -->
                  <div class="yoo-accordian">
                    <div class="yoo-accordian-title">
                      <i class="material-icons-outlined">folder</i>Are updates included for free or it comes down to money?
                      <span class="yoo-accordian-toggle yoo-style1"><i class="material-icons">expand_more</i></span>
                    </div>
                    <div class="yoo-accordian-body">
                      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                      <p>Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                  </div><!-- .yoo-accordian -->
                  <div class="yoo-accordian">
                    <div class="yoo-accordian-title">
                      <i class="material-icons-outlined">archive</i>Are updates included for free or it comes down to money?
                      <span class="yoo-accordian-toggle yoo-style1"><i class="material-icons">expand_more</i></span>
                    </div>
                    <div class="yoo-accordian-body">
                      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                      <p>Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                  </div><!-- .yoo-accordian -->
                </div><!-- .yoo-accordian-wrap -->
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Accordion Style 3</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <div class="yoo-accordian-wrap yoo-style1">
                  <div class="yoo-accordian">
                    <div class="yoo-accordian-title">
                      Are updates included for free or it comes down to money?
                      <span class="yoo-accordian-toggle"></span>
                    </div>
                    <div class="yoo-accordian-body">
                      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                      <p>Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                  </div><!-- .yoo-accordian -->
                  <div class="yoo-accordian">
                    <div class="yoo-accordian-title">
                      Are updates included for free or it comes down to money?
                      <span class="yoo-accordian-toggle"></span>
                    </div>
                    <div class="yoo-accordian-body">
                      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                      <p>Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                  </div><!-- .yoo-accordian -->
                  <div class="yoo-accordian">
                    <div class="yoo-accordian-title">
                      Are updates included for free or it comes down to money?
                      <span class="yoo-accordian-toggle"></span>
                    </div>
                    <div class="yoo-accordian-body">
                      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                      <p>Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                  </div><!-- .yoo-accordian -->
                </div><!-- .yoo-accordian-wrap -->
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
      </div>
    </div>
    
    <div class="yoo-height-b60 yoo-height-lg-b60"></div>
    
    {% include 'includes/footer.html' %}
  
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/jquery.nestable.js"></script>

{% endblock javascripts %}
