{% extends "layouts/base.html" %}

{% block title %} UI Badge {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="yoo-content yoo-style1">
    <div class="yoo-padd-lr-30 yoo-uikits-heading">
      <h2 class="yoo-uikits-title">Badge</h2>
      <ul class="yoo-breadcamb yoo-style1 yoo-mp0">
        <li><a href="#">Home</a></li>
        <li><a href="#">UI Kits</a></li>
        <li>Badge</li>
      </ul>
    </div>
    <div class="yoo-height-b30 yoo-height-lg-b30"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Badge With Heading </h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <div class="bd-example">
                  <h1>Heading One <span class="badge badge-secondary">New</span></h1>
                  <h2>Heading Two <span class="badge badge-secondary">New</span></h2>
                  <h3>Heading Three <span class="badge badge-secondary">New</span></h3>
                  <h4>Heading Four <span class="badge badge-secondary">New</span></h4>
                  <h5>Heading Five <span class="badge badge-secondary">New</span></h5>
                  <h6>Heading Six <span class="badge badge-secondary">New</span></h6>
                </div>
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1 yoo-height-100p">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Basic Button</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <div class="yoo-kit-btns">
                  <button type="button" class="btn btn-primary btn-lg">Primary <span class="badge badge-light">4</span></button>
                  <a href="#" class="btn btn-success btn-lg">Success <span class="badge badge-light">3</span></a>
                  <button type="button" class="btn btn-danger btn-lg">Danger <span class="badge badge-light">2</span></button>
                  <a href="#" class="btn btn-warning btn-lg">Warning <span class="badge badge-light">1</span></a>
                </div>
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                <div class="yoo-kit-btns">
                  <button type="button" class="btn btn-primary">Primary <span class="badge badge-light">1</span></button>
                  <a href="#" class="btn btn-success">Success <span class="badge badge-light">4</span></a>
                  <button type="button" class="btn btn-danger">Danger <span class="badge badge-light">5</span></button>
                  <a href="#" class="btn btn-warning">Warning <span class="badge badge-light">3</span></a>
                </div>
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                <div class="yoo-kit-btns">
                  <button type="button" class="btn btn-primary btn-sm">Primary <span class="badge badge-light">4</span></button>
                  <button type="button" class="btn btn-success btn-sm">Success <span class="badge badge-light">1</span></button>
                  <button type="button" class="btn btn-danger btn-sm">Danger <span class="badge badge-light">3</span></button>
                  <button type="button" class="btn btn-warning btn-sm">Warning <span class="badge badge-light">6</span></button>
                </div>
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Solid Badge</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <div class="yoo-badge-group yoo-style1">
                  <span class="yoo-badge yoo-box-colo1">Badge1</span>
                  <span class="yoo-badge yoo-box-colo2">Badge2</span>
                  <span class="yoo-badge yoo-box-colo3">Badge3</span>
                  <span class="yoo-badge yoo-box-colo4">Badge4</span>
                  <span class="yoo-badge yoo-box-colo5">Badge5</span>
                  <span class="yoo-badge yoo-box-colo6">Badge6</span>
                  <span class="yoo-badge yoo-box-colo7">Badge7</span>
                  <span class="yoo-badge yoo-box-colo8">Badge8</span>
                </div>
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Transparent Badge</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <div class="yoo-badge-group yoo-style1">
                  <a href="#" class="yoo-badge yoo-box-transparent-colo1">Badge1</a>
                  <a href="#" class="yoo-badge yoo-box-transparent-colo2">Badge2</a>
                  <a href="#" class="yoo-badge yoo-box-transparent-colo3">Badge3</a>
                  <a href="#" class="yoo-badge yoo-box-transparent-colo4">Badge4</a>
                  <a href="#" class="yoo-badge yoo-box-transparent-colo5">Badge5</a>
                  <a href="#" class="yoo-badge yoo-box-transparent-colo6">Badge6</a>
                  <a href="#" class="yoo-badge yoo-box-transparent-colo8">Badge7</a>
                </div>
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
      </div>
    </div>
    <div class="yoo-height-b60 yoo-height-lg-b60"></div>
    <div class="yoo-height-b40 yoo-height-lg-b0"></div>

    {% include 'includes/footer.html' %}
    
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
