{% extends "layouts/base.html" %}

{% block title %} UI Buttons {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="yoo-content yoo-style1">
    <div class="yoo-padd-lr-30 yoo-uikits-heading">
      <h2 class="yoo-uikits-title">Buttons</h2>
      <ul class="yoo-breadcamb yoo-style1 yoo-mp0">
        <li><a href="#">Home</a></li>
        <li><a href="#">UI Kits</a></li>
        <li>Buttons</li>
      </ul>
    </div>
    <div class="yoo-height-b30 yoo-height-lg-b30"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Basic Button</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <div class="yoo-kit-btns">
                  <button type="button" class="btn btn-primary btn-lg">Primary</button>
                  <a href="#" class="btn btn-success btn-lg">Success</a>
                  <button type="button" class="btn btn-danger btn-lg">Danger</button>
                  <a href="#" class="btn btn-warning btn-lg">Warning</a>
                  <button type="button" class="btn btn-info btn-lg">Info</button>
                  <button type="button" class="btn btn-link btn-lg">Link</button>
                </div>
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                <div class="yoo-kit-btns">
                  <button type="button" class="btn btn-primary">Primary</button>
                  <a href="#" class="btn btn-success">Success</a>
                  <button type="button" class="btn btn-danger">Danger</button>
                  <a href="#" class="btn btn-warning">Warning</a>
                  <button type="button" class="btn btn-info">Info</button>
                  <button type="button" class="btn btn-link">Link</button>
                </div>
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                <div class="yoo-kit-btns">
                  <button type="button" class="btn btn-primary btn-sm">Primary</button>
                  <button type="button" class="btn btn-success btn-sm">Success</button>
                  <button type="button" class="btn btn-danger btn-sm">Danger</button>
                  <button type="button" class="btn btn-warning btn-sm">Warning</button>
                  <button type="button" class="btn btn-info btn-sm">Info</button>
                  <button type="button" class="btn btn-link btn-sm">Link</button>
                </div>
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Outline buttons</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <div class="yoo-kit-btns">
                  <button type="button" class="btn btn-outline-primary btn-lg">Primary</button>
                  <a href="#" class="btn btn-outline-success btn-lg">Success</a>
                  <button type="button" class="btn btn-outline-danger btn-lg">Danger</button>
                  <a href="#" class="btn btn-outline-warning btn-lg">Warning</a>
                  <button type="button" class="btn btn-outline-info btn-lg">Info</button>
                  <button type="button" class="btn btn-outline-link btn-lg">Link</button>
                </div>
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                <div class="yoo-kit-btns">
                  <button type="button" class="btn btn-outline-primary">Primary</button>
                  <a href="#" class="btn btn-outline-success">Success</a>
                  <button type="button" class="btn btn-outline-danger">Danger</button>
                  <a href="#" class="btn btn-outline-warning">Warning</a>
                  <button type="button" class="btn btn-outline-info">Info</button>
                  <button type="button" class="btn btn-outline-link">Link</button>
                </div>
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                <div class="yoo-kit-btns">
                  <button type="button" class="btn btn-outline-primary btn-sm">Primary</button>
                  <button type="button" class="btn btn-outline-success btn-sm">Success</button>
                  <button type="button" class="btn btn-outline-danger btn-sm">Danger</button>
                  <button type="button" class="btn btn-outline-warning btn-sm">Warning</button>
                  <button type="button" class="btn btn-outline-info btn-sm">Info</button>
                  <button type="button" class="btn btn-outline-link btn-sm">Link</button>
                </div>
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Basic Button With Icon</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <div class="yoo-kit-btns">
                  <button type="button" class="btn btn-primary btn-lg btn-pill"><i class="material-icons-outlined">cloud_download</i>Primary</button>
                  <a href="#" class="btn btn-success btn-lg btn-pill"><i class="material-icons">person</i>Success</a>
                  <button type="button" class="btn btn-danger btn-lg btn-pill"><i class="material-icons-outlined">android</i>Danger</button>
                  <a href="#" class="btn btn-warning btn-lg btn-pill"><i class="material-icons-outlined">cached</i>Warning</a>
                </div>
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                <div class="yoo-kit-btns">
                  <button type="button" class="btn btn-primary btn-pill"><i class="material-icons-outlined">cloud_download</i>Primary</button>
                  <a href="#" class="btn btn-success btn-pill"><i class="material-icons">person</i>Success</a>
                  <button type="button" class="btn btn-danger btn-pill"><i class="material-icons-outlined">android</i>Danger</button>
                  <a href="#" class="btn btn-warning btn-pill"><i class="material-icons-outlined">cached</i>Warning</a>
                </div>
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                <div class="yoo-kit-btns">
                  <button type="button" class="btn btn-primary btn-sm btn-pill"><i class="material-icons-outlined">cloud_download</i>Primary</button>
                  <button type="button" class="btn btn-success btn-sm btn-pill"><i class="material-icons">person</i>Success</button>
                  <button type="button" class="btn btn-danger btn-sm btn-pill"><i class="material-icons-outlined">android</i>Danger</button>
                  <button type="button" class="btn btn-warning btn-sm btn-pill"><i class="material-icons-outlined">cached</i>Warning</button>
                </div>
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Outline buttons With Pill and Icon</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <div class="yoo-kit-btns">
                  <button type="button" class="btn btn-outline-primary btn-lg btn-pill"><i class="material-icons-outlined">cloud_download</i>Primary</button>
                  <a href="#" class="btn btn-outline-success btn-lg btn-pill"><i class="material-icons">person</i>Success</a>
                  <button type="button" class="btn btn-outline-danger btn-lg btn-pill"><i class="material-icons-outlined">android</i>Danger</button>
                  <a href="#" class="btn btn-outline-warning btn-lg btn-pill"><i class="material-icons-outlined">cached</i>Warning</a>
                </div>
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                <div class="yoo-kit-btns">
                  <button type="button" class="btn btn-outline-primary btn-pill"><i class="material-icons-outlined">cloud_download</i>Primary</button>
                  <a href="#" class="btn btn-outline-success btn-pill"><i class="material-icons">person</i>Success</a>
                  <button type="button" class="btn btn-outline-danger btn-pill"><i class="material-icons-outlined">android</i>Danger</button>
                  <a href="#" class="btn btn-outline-warning btn-pill"><i class="material-icons-outlined">cached</i>Warning</a>
                </div>
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                <div class="yoo-kit-btns">
                  <button type="button" class="btn btn-outline-primary btn-sm btn-pill"><i class="material-icons-outlined">cloud_download</i>Primary</button>
                  <button type="button" class="btn btn-outline-success btn-sm btn-pill"><i class="material-icons">person</i>Success</button>
                  <button type="button" class="btn btn-outline-danger btn-sm btn-pill"><i class="material-icons-outlined">android</i>Danger</button>
                  <button type="button" class="btn btn-outline-warning btn-sm btn-pill"><i class="material-icons-outlined">cached</i>Warning</button>
                </div>
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Social Button</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <ul class="yoo-social-btn-list yoo-style1 yoo-mp0">
                  <li><a href="#" class="yoo-solial-btn social-derault-color"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#" class="yoo-solial-btn social-derault-color"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#" class="yoo-solial-btn social-derault-color"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#" class="yoo-solial-btn social-derault-color"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#" class="yoo-solial-btn social-derault-color"><i class="fab fa-pinterest-p"></i></a></li>
                </ul>
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Social Button</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <ul class="yoo-social-btn-list yoo-style1 yoo-social-brand-color yoo-mp0">
                  <li><a href="#" class="yoo-solial-btn social-facebook"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#" class="yoo-solial-btn social-twitter"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#" class="yoo-solial-btn social-instagram"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#" class="yoo-solial-btn social-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#" class="yoo-solial-btn social-pinterest"><i class="fab fa-pinterest-p"></i></a></li>
                </ul>
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Social Button</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <ul class="yoo-social-btn-list yoo-style1 yoo-mp0">
                  <li><a href="#" class="yoo-solial-btn social-derault-color yoo-radious50"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#" class="yoo-solial-btn social-derault-color yoo-radious50"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#" class="yoo-solial-btn social-derault-color yoo-radious50"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#" class="yoo-solial-btn social-derault-color yoo-radious50"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#" class="yoo-solial-btn social-derault-color yoo-radious50"><i class="fab fa-pinterest-p"></i></a></li>
                </ul>
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Social Button</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <ul class="yoo-social-btn-list yoo-style1 yoo-social-brand-color yoo-mp0">
                  <li><a href="#" class="yoo-solial-btn social-facebook opacity-color yoo-radious50"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#" class="yoo-solial-btn social-twitter opacity-color yoo-radious50"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#" class="yoo-solial-btn social-instagram opacity-color yoo-radious50"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#" class="yoo-solial-btn social-linkedin opacity-color yoo-radious50"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#" class="yoo-solial-btn social-pinterest opacity-color yoo-radious50"><i class="fab fa-pinterest-p"></i></a></li>
                </ul>
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
      </div>
    </div>
    <div class="yoo-height-b60 yoo-height-lg-b60"></div>

    {% include 'includes/footer.html' %}
    
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
