{% extends "layouts/base.html" %}

{% block title %} UI Card {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="yoo-content yoo-style1">
    <div class="yoo-padd-lr-30 yoo-uikits-heading">
      <h2 class="yoo-uikits-title">Cards</h2>
      <ul class="yoo-breadcamb yoo-style1 yoo-mp0">
        <li><a href="#">Home</a></li>
        <li><a href="#">UI Kits</a></li>
        <li>Cards</li>
      </ul>
    </div>
    <div class="yoo-height-b30 yoo-height-lg-b30"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="yoo-card yoo-style1 yoo-height-100p">
            <div class="yoo-card-body">
              <div class="yoo-post yoo-style3">
                <div class="yoo-post-thumb">
                  <a href="#"><img src="/static/assets/img/hr/02.jpg" alt=""></a>
                  <div class="yoo-post-heading">
                    <ul class="yoo-post-tag">
                      <li><a href="#">Tips</a></li>
                    </ul>
                    <div class="yoo-height-b5 yoo-height-lg-b5"></div>
                    <h2 class="yoo-post-title"><a href="#">How to Boost Workspace Productivity</a></h2>
                  </div>
                </div>
                <div class="yoo-post-body yoo-padd-lr-30">
                  <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                  <div class="yoo-post-user">
                    <div class="yoo-post-user-img"><img src="/static/assets/img/contact/02.jpg" alt=""></div>
                    <div class="yoo-post-user-meta">
                      <h3 class="yoo-post-user-name">Deborah Clarke</h3>
                      <div class="yoo-post-user-email">12 Jun 2020</div>
                    </div>
                  </div>
                  <div class="yoo-height-b10 yoo-height-lg-b10"></div>
                  <div class="yoo-post-text">At the end of your work day, do you ever feel like you could’ve done more? Maybe written more words. Completed more tasks. Or simply just did more work. your effectiveness as a writer...</div>
                  <div class="yoo-height-b15 yoo-height-lg-b15"></div>
                </div>
              </div>
              <hr>
              <a href="#" class="yoo-btn yoo-style2">REAL-TIME REPORT <i class="material-icons-outlined">navigate_next</i>
              </a>
            </div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-8">
          <div class="yoo-card yoo-style1 yoo-height-100p">
            <div class="yoo-profile-thumb yoo-bg yoo-dynamicbg" data-src="/static/assets/img/profile/profile-thumb.jpg">
              <div class="yoo-overlay yoo-style1"></div>
              <div class="yoo-profile-info">
                <div class="yoo-profile-pic"><img src="/static/assets/img/profile/profile-pic.jpg" alt=""></div>
                <div class="yoo-profile-text">
                  <h2 class="yoo-profile-name">David Robertson</h2>
                  <div class="yoo-profile-email">@DaveLee</div>
                </div>
              </div>
            </div>
            <div class="yoo-height-b40 yoo-height-lg-b40"></div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-4">
          <div class="yoo-card yoo-style1 yoo-height-100p">
            <div class="yoo-card-body">
              <div class="yoo-profile-thumb yoo-small yoo-bg yoo-dynamicbg" data-src="/static/assets/img/profile/profile-thumb.jpg">
              </div>
              <div class="yoo-profile-info yoo-small">
                <div class="yoo-profile-pic"><img src="/static/assets/img/profile/profile-pic.jpg" alt=""></div>
                <div class="yoo-profile-text">
                  <h2 class="yoo-profile-name">David Robertson</h2>
                  <div class="yoo-profile-email">@DaveLee</div>
                </div>
              </div>
              <div class="yoo-height-b5 yoo-height-lg-b5"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-body">
              <div class="yoo-post yoo-style3">
                <div class="yoo-post-thumb">
                  <a href="#"><img src="/static/assets/img/profile/profile-thumb1.jpg" class="yoo-radious4" alt="profile-thumb1"></a>
                  <div class="yoo-post-heading">
                    <ul class="yoo-post-tag">
                      <li><a href="#">Tips</a></li>
                    </ul>
                    <div class="yoo-height-b5 yoo-height-lg-b5"></div>
                    <h2 class="yoo-post-title"><a href="#">How to Boost Workspace Productivity</a></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-4">
          <div class="yoo-card yoo-style1 yoo-height-100p">
            <div class="yoo-card-body">
              <div class="yoo-post yoo-style3">
                <div class="yoo-post-body yoo-padd-lr-30">
                  <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                  <div class="yoo-post-user">
                    <div class="yoo-post-user-img"><img src="/static/assets/img/contact/03.jpg" alt=""></div>
                    <div class="yoo-post-user-meta">
                      <h3 class="yoo-post-user-name">Deborah Clarke</h3>
                      <div class="yoo-post-user-email">12 Jun 2020</div>
                    </div>
                  </div>
                  <div class="yoo-height-b10 yoo-height-lg-b10"></div>
                  <div class="yoo-post-text">At the end of your work day, do you ever feel like you could’ve done more? Maybe written more words. Completed more tasks. Or simply just did more work. your effectiveness as a writer...</div>
                  <div class="yoo-height-b25 yoo-height-lg-b25"></div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
      </div>
    </div>
    <div class="yoo-height-b60 yoo-height-lg-b60"></div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
