{% extends "layouts/base.html" %}

{% block title %} Color Plate {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="yoo-content yoo-style1">
    <div class="yoo-padd-lr-30 yoo-uikits-heading">
      <h2 class="yoo-uikits-title">Color Palettes</h2>
      <ul class="yoo-breadcamb yoo-style1 yoo-mp0">
        <li><a href="#">Home</a></li>
        <li><a href="#">UI Kits</a></li>
        <li>Color Palettes</li>
      </ul>
    </div>
    <div class="yoo-height-b30 yoo-height-lg-b30"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Accent Background Color Class</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <div class="yoo-color-plate-wrap yoo-style1">
                  <div class="yoo-accent-bg1">.yoo-accent-bg1</div>
                  <div class="yoo-accent-bg2">.yoo-accent-bg2</div>
                  <div class="yoo-accent-bg3">.yoo-accent-bg3</div>
                  <div class="yoo-accent-bg4">.yoo-accent-bg4</div>
                  <div class="yoo-accent-bg5">.yoo-accent-bg5</div>
                  <div class="yoo-accent-bg6">.yoo-accent-bg6</div>
                  <div class="yoo-accent-bg7">.yoo-accent-bg7</div>
                  <div class="yoo-accent-bg8">.yoo-accent-bg8</div>
                </div>
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Accent Color Class</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <div class="yoo-color-plate-wrap yoo-style2">
                  <div class="yoo-accent-color1">.yoo-accent-color1</div>
                  <div class="yoo-accent-color2">.yoo-accent-color2</div>
                  <div class="yoo-accent-color3">.yoo-accent-color3</div>
                  <div class="yoo-accent-color4">.yoo-accent-color4</div>
                  <div class="yoo-accent-color5">.yoo-accent-color5</div>
                  <div class="yoo-accent-color6">.yoo-accent-color6</div>
                  <div class="yoo-accent-color7">.yoo-accent-color7</div>
                  <div class="yoo-accent-color8">.yoo-accent-color8</div>
                </div>
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Base Background Color Class</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <div class="yoo-color-plate-wrap yoo-style1">
                  <div class="yoo-base-bg1">.yoo-base-bg1</div>
                  <div class="yoo-base-bg2">.yoo-base-bg2</div>
                  <div class="yoo-base-bg3">.yoo-base-bg3</div>
                  <div class="yoo-base-bg4 yoo-base-color1">.yoo-base-bg4</div>
                  <div class="yoo-base-bg5 yoo-base-color1">.yoo-base-bg5</div>
                  <div class="yoo-base-bg6 yoo-base-color1">.yoo-base-bg6</div>
                </div>
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Base Color Class</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <div class="yoo-color-plate-wrap yoo-style2">
                  <div class="yoo-base-color1">.yoo-base-color1</div>
                  <div class="yoo-base-color2">.yoo-base-color2</div>
                  <div class="yoo-base-color3">.yoo-base-color3</div>
                  <div class="yoo-base-color4">.yoo-base-color4</div>
                </div>
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
      </div>
    </div>
    <div class="yoo-height-b60 yoo-height-lg-b60"></div>
    <div class="yoo-height-b40 yoo-height-lg-b0"></div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
