{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sign UP {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container">

    <div class="row">
      <div class="col-lg-6 offset-lg-1">
        <div class="yoo-vertical-middle">
          <div class="yoo-vertical-middle-in">
            <div class="yoo-signup-img yoo-style1">
              <img src="/static/assets/img/signup/01.png" alt="">
            </div>
          </div>
        </div>
      </div><!-- .col -->
      <div class="col-lg-4">
        <div class="yoo-vertical-middle">
          <div class="yoo-vertical-middle-in">
            <form action="#" class="yoo-form yoo-style1">
              <h2 class="yoo-form-title">
                <a target="_blank" rel="noopener noreferrer" 
                   href="https://github.com/app-generator/theme-jinja2-admint">Jinja2 AdminT</a> - Sign UP
              </h2>
              <div class="yoo-form-subtitle">Already have an account? 
                <a href="/sign-in.html" class="yoo-form-btn yoo-style2">Sign in</a> - <a href="/">Home</a>
              </div>

              <div class="yoo-height-b25 yoo-height-lg-b25"></div>
              <ul class="yoo-social-area yoo-style1 yoo-mp0">
                <li><a href="#" class="yoo-form-btn yoo-style1 yoo-colo2"><i class="fab fa-facebook-f"></i><span>Sign up with Facebook</span></a></li>
                <li><a href="#" class="yoo-form-btn yoo-style1 yoo-colo3"><i class="fab fa-google-plus-g"></i><span>Sign up with Gmail</span></a></li>
              </ul>
              <div class="yoo-height-b15 yoo-height-lg-b15"></div>
              <div class="yoo-form-separator">Or</div>
              <div class="yoo-height-b15 yoo-height-lg-b15"></div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="yoo-form-field">
                    <input type="text" placeholder="First Name">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="yoo-form-field">
                    <input type="text" placeholder="Last Name">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="yoo-form-field">
                    <input type="text" placeholder="Email">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="yoo-form-field">
                    <input type="text" placeholder="Password">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="yoo-height-b5 yoo-height-lg-b5"></div>
                  <div class="yoo-form-field">
                    <div class="yoo-checkbox-wrap yoo-style1">
                      <span class="yoo-checkbox yoo-style3 yoo-color2">
                        <input type="checkbox">
                        <span class="yoo-checkbox-icon"><i class="material-icons">done</i></span>
                      </span>
                      <div class="yoo-checkbox-text">I agree to terms and condittions & <a href="#" class="yoo-form-btn yoo-style2 yoo-type1">cookies policy</a>.</div>
                    </div>
                  </div>
                  <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                  <a href="#" class="yoo-form-btn yoo-style1 yoo-color1"><span>Sign Up</span></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
  </div>>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
