{% extends "layouts/base.html" %}

{% block title %} UI Typography {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="yoo-content yoo-style1">
    <div class="yoo-padd-lr-30 yoo-uikits-heading">
      <h2 class="yoo-uikits-title">Color Palettes</h2>
      <ul class="yoo-breadcamb yoo-style1 yoo-mp0">
        <li><a href="#">Home</a></li>
        <li><a href="#">UI Kits</a></li>
        <li>Color Palettes</li>
      </ul>
    </div>
    <div class="yoo-height-b30 yoo-height-lg-b30"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Header</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                  <h1>Header one</h1>
                  <h2>Header two</h2>
                  <h3>Header three</h3>
                  <h4>Header four</h4>
                  <h5>Header five</h5>
                  <h6>Header six</h6>
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Pagraph</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                <p>Lorenzo Fernando Lamas was born in Santa Monica, California, the son of actors Arlene Dahl and Fernando Lamas. His father was Argentinian and his mother was American, of Norwegian descent. He is most known for his roles on television, notably as Lance Cumson on CBS' Falcon Crest</p>
                <p>Lorenzo Fernando Lamas was born in Santa Monica, California, the son of actors Arlene Dahl and Fernando Lamas. His father was Argentinian and his mother was American, of Norwegian descent.</p>
                <p>Lorenzo Fernando Lamas was born in Santa Monica, California, the son of actors Arlene Dahl and Fernando Lamas. His father was Argentinian and his mother was American, of Norwegian descent. He is most known for his roles on television, notably as Lance Cumson on CBS' Falcon Crest</p>
                <p>Lorenzo Fernando Lamas was born in Santa Monica, California, the son of actors.</p>
                <div class="yoo-height-b15 yoo-height-lg-b15"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Unordered List</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b25 yoo-height-lg-b25"></div>
                <ul class="yoo-un-list">
                  <li>List item one
                    <ul>
                      <li>List item one
                        <ul>
                          <li>List item one</li>
                          <li>List item two</li>
                          <li>List item three</li>
                          <li>List item four</li>
                        </ul>
                      </li>
                      <li>List item two</li>
                      <li>List item three</li>
                      <li>List item four</li>
                    </ul>
                  </li>
                  <li>List item two</li>
                  <li>List item three</li>
                  <li>List item four</li>
                </ul>
                <div class="yoo-height-b25 yoo-height-lg-b25"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
        <div class="col-lg-6">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">Ordered List</h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-30 yoo-alert-wrap">
                <div class="yoo-height-b25 yoo-height-lg-b25"></div>
                <ol class="yoo-un-list">
                  <li>List item one
                    <ol>
                      <li>List item one
                        <ol>
                          <li>List item one</li>
                          <li>List item two</li>
                          <li>List item three</li>
                          <li>List item four</li>
                        </ol>
                      </li>
                      <li>List item two</li>
                      <li>List item three</li>
                      <li>List item four</li>
                    </ol>
                  </li>
                  <li>List item two</li>
                  <li>List item three</li>
                  <li>List item four</li>
                </ol>
                <div class="yoo-height-b25 yoo-height-lg-b25"></div>
              </div>
            </div>
          </div>
        </div><!-- .col -->
      </div>
    </div>
    <div class="yoo-height-b60 yoo-height-lg-b60"></div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
